html {
	background-color: #f7f7f7;
}

nav .brand-logo {
	color: #fff;
}

nav {
	color: #ffab40;
	background-color: #546e79;
}

nav ul a {
    color: #fff;

}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
}

.card {
    float: left;
    margin: .5rem .5rem;
    width: 220px;
    height: 308px;

}

.container {
    margin: 0;
}

.card .card-content {
    padding: 16px;
}

.card .card-title {
    font-size: 15px;
    font-weight: bold;
}

.row .col.s9 {
    position: relative;
    width: 121%;
    margin-left: auto;
    left: 245px;
    top: -190px;
    right: auto;
}

.row .col.s3 {
	margin-top: 20px;
    width: 250px;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 185px;
    width: auto;
    margin: auto;
}


.youtube {
 position:relative;
 padding-bottom:56.25%;
 padding-top:30px;
 height:0;
 overflow:hidden;
 }

.youtube iframe, .youtube object, .youtube embed, .youtube video {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 }

 .wy {
 
 width: 80%;
 max-width: 900px;
 margin: 0 auto;
 }

 .flo {
    float: left;
    width: 100%;
    height: 100%;
 }



